In [1]:
import pandas as pd
import numpy as np

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [3]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [4]:
df

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,Ref.
0,1.0,Bad Boys for Life,Columbia Pictures/Sony,"$206,305,244",NaN,NaN,NaN,NaN,NaN
1,2.0,Sonic the Hedgehog,Paramount,"$148,974,665",NaN,NaN,NaN,NaN,NaN
2,3.0,Birds of Prey,Warner Bros.,"$84,158,461",NaN,NaN,NaN,NaN,NaN
3,4.0,Dolittle,Universal,"$77,047,065",NaN,NaN,NaN,NaN,NaN
4,5.0,The Invisible Man,Universal,"$70,410,000",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
177,NaN,Secret Society of Second-Born Royals,NaN,NaN,SEPTEMBER,25.0,Disney Channel / Disney+,"Anna Mastro (director); Alex Litvak, Andrew Gr...",[159]
178,NaN,She's in Portland,NaN,NaN,SEPTEMBER,25.0,Freestyle Releasing,Marc Carlini (director/screenplay); Patrick Al...,[160]
179,NaN,Sightless,NaN,NaN,SEPTEMBER,29.0,MarVista Entertainment,Cooper Karl (director/screenplay); Madelaine P...,[161]
180,NaN,The Boys in the Band,NaN,NaN,SEPTEMBER,30.0,Netflix,Joe Mantello (director); Mart Crowley (screenp...,[162]
181,NaN,The Glorias,NaN,NaN,SEPTEMBER,30.0,Roadside Attractions / LD Entertainment,Julie Taymor (director/screenplay); Sarah Ruhl...,[163]

In [5]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'd6ab700e0705e0b8b97c877c3d6ba145'

In [6]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [7]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [8]:
df

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,Ref.,genres
0,1.0,Bad Boys for Life,Columbia Pictures/Sony,"$206,305,244",NaN,NaN,NaN,NaN,NaN,Thriller Action Crime
1,2.0,Sonic the Hedgehog,Paramount,"$148,974,665",NaN,NaN,NaN,NaN,NaN,Action Science Fiction Comedy Family
2,3.0,Birds of Prey,Warner Bros.,"$84,158,461",NaN,NaN,NaN,NaN,NaN,Action Crime
3,4.0,Dolittle,Universal,"$77,047,065",NaN,NaN,NaN,NaN,NaN,Family Fantasy Adventure
4,5.0,The Invisible Man,Universal,"$70,410,000",NaN,NaN,NaN,NaN,NaN,Thriller Science Fiction Horror
...,...,...,...,...,...,...,...,...,...,...
177,NaN,Secret Society of Second-Born Royals,NaN,NaN,SEPTEMBER,25.0,Disney Channel / Disney+,"Anna Mastro (director); Alex Litvak, Andrew Gr...",[159],Action Adventure Comedy Fantasy
178,NaN,She's in Portland,NaN,NaN,SEPTEMBER,25.0,Freestyle Releasing,Marc Carlini (director/screenplay); Patrick Al...,[160],Comedy Drama
179,NaN,Sightless,NaN,NaN,SEPTEMBER,29.0,MarVista Entertainment,Cooper Karl (director/screenplay); Madelaine P...,[161],Thriller
180,NaN,The Boys in the Band,NaN,NaN,SEPTEMBER,30.0,Netflix,Joe Mantello (director); Mart Crowley (screenp...,[162],Drama
181,NaN,The Glorias,NaN,NaN,SEPTEMBER,30.0,Roadside Attractions / LD Entertainment,Julie Taymor (director/screenplay); Sarah Ruhl...,[163],Drama

In [10]:
df_2020 = df

In [11]:

df_2020

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,Ref.,genres
0,1.0,Bad Boys for Life,Columbia Pictures/Sony,"$206,305,244",NaN,NaN,NaN,NaN,NaN,Thriller Action Crime
1,2.0,Sonic the Hedgehog,Paramount,"$148,974,665",NaN,NaN,NaN,NaN,NaN,Action Science Fiction Comedy Family
2,3.0,Birds of Prey,Warner Bros.,"$84,158,461",NaN,NaN,NaN,NaN,NaN,Action Crime
3,4.0,Dolittle,Universal,"$77,047,065",NaN,NaN,NaN,NaN,NaN,Family Fantasy Adventure
4,5.0,The Invisible Man,Universal,"$70,410,000",NaN,NaN,NaN,NaN,NaN,Thriller Science Fiction Horror
...,...,...,...,...,...,...,...,...,...,...
177,NaN,Secret Society of Second-Born Royals,NaN,NaN,SEPTEMBER,25.0,Disney Channel / Disney+,"Anna Mastro (director); Alex Litvak, Andrew Gr...",[159],Action Adventure Comedy Fantasy
178,NaN,She's in Portland,NaN,NaN,SEPTEMBER,25.0,Freestyle Releasing,Marc Carlini (director/screenplay); Patrick Al...,[160],Comedy Drama
179,NaN,Sightless,NaN,NaN,SEPTEMBER,29.0,MarVista Entertainment,Cooper Karl (director/screenplay); Madelaine P...,[161],Thriller
180,NaN,The Boys in the Band,NaN,NaN,SEPTEMBER,30.0,Netflix,Joe Mantello (director); Mart Crowley (screenp...,[162],Drama
181,NaN,The Glorias,NaN,NaN,SEPTEMBER,30.0,Roadside Attractions / LD Entertainment,Julie Taymor (director/screenplay); Sarah Ruhl...,[163],Drama

In [12]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [13]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

In [14]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [15]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [16]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [17]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [18]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [19]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [20]:
df_2020

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,Ref.,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,1.0,Bad Boys for Life,Columbia Pictures/Sony,"$206,305,244",NaN,NaN,NaN,NaN,NaN,Thriller Action Crime,nan,nan,NaN,NaN
1,2.0,Sonic the Hedgehog,Paramount,"$148,974,665",NaN,NaN,NaN,NaN,NaN,Action Science Fiction Comedy Family,nan,nan,NaN,NaN
2,3.0,Birds of Prey,Warner Bros.,"$84,158,461",NaN,NaN,NaN,NaN,NaN,Action Crime,nan,nan,NaN,NaN
3,4.0,Dolittle,Universal,"$77,047,065",NaN,NaN,NaN,NaN,NaN,Family Fantasy Adventure,nan,nan,NaN,NaN
4,5.0,The Invisible Man,Universal,"$70,410,000",NaN,NaN,NaN,NaN,NaN,Thriller Science Fiction Horror,nan,nan,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,NaN,Secret Society of Second-Born Royals,NaN,NaN,SEPTEMBER,25.0,Disney Channel / Disney+,"Anna Mastro (director); Alex Litvak, Andrew Gr...",[159],Action Adventure Comedy Fantasy,Anna Mastro,Peyton Elizabeth Lee,Skylar Astin,Ã‰lodie Yung
178,NaN,She's in Portland,NaN,NaN,SEPTEMBER,25.0,Freestyle Releasing,Marc Carlini (director/screenplay); Patrick Al...,[160],Comedy Drama,Marc Carlini,Tommy Dewey,FranÃ§ois Arnaud,Minka Kelly
179,NaN,Sightless,NaN,NaN,SEPTEMBER,29.0,MarVista Entertainment,Cooper Karl (director/screenplay); Madelaine P...,[161],Thriller,Cooper Karl,Madelaine Petsch,Alexander Koch,NaN
180,NaN,The Boys in the Band,NaN,NaN,SEPTEMBER,30.0,Netflix,Joe Mantello (director); Mart Crowley (screenp...,[162],Drama,Joe Mantello,Jim Parsons,Zachary Quinto,Matt Bomer
181,NaN,The Glorias,NaN,NaN,SEPTEMBER,30.0,Roadside Attractions / LD Entertainment,Julie Taymor (director/screenplay); Sarah Ruhl...,[163],Drama,Julie Taymor,Julianne Moore,Alicia Vikander,Timothy Hutton

In [21]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [22]:
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [23]:
new_df20

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,nan,nan,NaN,NaN,Thriller Action Crime,Bad Boys for Life
1,nan,nan,NaN,NaN,Action Science Fiction Comedy Family,Sonic the Hedgehog
2,nan,nan,NaN,NaN,Action Crime,Birds of Prey
3,nan,nan,NaN,NaN,Family Fantasy Adventure,Dolittle
4,nan,nan,NaN,NaN,Thriller Science Fiction Horror,The Invisible Man
...,...,...,...,...,...,...
177,Anna Mastro,Peyton Elizabeth Lee,Skylar Astin,Ã‰lodie Yung,Action Adventure Comedy Fantasy,Secret Society of Second-Born Royals
178,Marc Carlini,Tommy Dewey,FranÃ§ois Arnaud,Minka Kelly,Comedy Drama,She's in Portland
179,Cooper Karl,Madelaine Petsch,Alexander Koch,NaN,Thriller,Sightless
180,Joe Mantello,Jim Parsons,Zachary Quinto,Matt Bomer,Drama,The Boys in the Band
181,Julie Taymor,Julianne Moore,Alicia Vikander,Timothy Hutton,Drama,The Glorias

In [24]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [25]:
new_df20.isna().sum()

director_name     0
actor_1_name      0
actor_2_name     14
actor_3_name     28
genres            1
movie_title       1
comb             28
dtype: int64

In [26]:
new_df20 = new_df20.dropna(how='any')

In [27]:
new_df20.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [28]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

/home/anirudh/.local/lib/python3.8/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [29]:

new_df20

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
10,Nicolas Pesce,Andrea Riseborough,DemiÃ¡n Bichir,John Cho,Horror Mystery Thriller,the grudge,Andrea Riseborough DemiÃ¡n Bichir John Cho Nico...
11,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction Thriller,underwater,Kristen Stewart Vincent Cassel Jessica Henwick...
12,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,like a boss,Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
13,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,three christs,Richard Gere Peter Dinklage Walton Goggins Jon...
14,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Drama Thriller Crime,inherit the viper,Josh Hartnett Margarita Levieva Chandler Riggs...
...,...,...,...,...,...,...,...
176,Andrew Cohn,Richard Jenkins,Shane Paul McGhie,Da'Vine Joy Randolph,Comedy Drama,the last shift,Richard Jenkins Shane Paul McGhie Da'Vine Joy ...
177,Anna Mastro,Peyton Elizabeth Lee,Skylar Astin,Ã‰lodie Yung,Action Adventure Comedy Fantasy,secret society of second-born royals,Peyton Elizabeth Lee Skylar Astin Ã‰lodie Yung ...
178,Marc Carlini,Tommy Dewey,FranÃ§ois Arnaud,Minka Kelly,Comedy Drama,she's in portland,Tommy Dewey FranÃ§ois Arnaud Minka Kelly Marc C...
180,Joe Mantello,Jim Parsons,Zachary Quinto,Matt Bomer,Drama,the boys in the band,Jim Parsons Zachary Quinto Matt Bomer Joe Mant...
181,Julie Taymor,Julianne Moore,Alicia Vikander,Timothy Hutton,Drama,the glorias,Julianne Moore Alicia Vikander Timothy Hutton ...

In [30]:
old_df = pd.read_csv('final_data.csv')

In [31]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5867,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise,Will Smith Tom Holland Rashida Jones Nick Brun...
5868,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
5869,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama Action Thriller,1917,George MacKay Dean-Charles Chapman Mark Strong...
5870,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
5871,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...

In [32]:
final_df = old_df.append(new_df20,ignore_index=True)

In [33]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakensÂ ...,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
6021,Andrew Cohn,Richard Jenkins,Shane Paul McGhie,Da'Vine Joy Randolph,Comedy Drama,the last shift,Richard Jenkins Shane Paul McGhie Da'Vine Joy ...
6022,Anna Mastro,Peyton Elizabeth Lee,Skylar Astin,Ã‰lodie Yung,Action Adventure Comedy Fantasy,secret society of second-born royals,Peyton Elizabeth Lee Skylar Astin Ã‰lodie Yung ...
6023,Marc Carlini,Tommy Dewey,FranÃ§ois Arnaud,Minka Kelly,Comedy Drama,she's in portland,Tommy Dewey FranÃ§ois Arnaud Minka Kelly Marc C...
6024,Joe Mantello,Jim Parsons,Zachary Quinto,Matt Bomer,Drama,the boys in the band,Jim Parsons Zachary Quinto Matt Bomer Joe Mant...
6025,Julie Taymor,Julianne Moore,Alicia Vikander,Timothy Hutton,Drama,the glorias,Julianne Moore Alicia Vikander Timothy Hutton ...

In [ ]:
final_df.to_csv('main_data.csv',index=False)